.clearfix::after {
    content: 0;
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

body {
    background: #f8f8f8;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

#j1_reg {
    .content {
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    .header {
        height: 41px;
        padding: 24px 0 18px 0;

        h1 {
            margin-right: 20px;
            float: left;
            display: inline-block;
            vertical-align: top;
            width: 200px;
            height: 40px;
            text-indent: -999px;
            background: url(../css/img/dl5.jpg) no-repeat;
        }

        h2 {
            float: left;
            height: 41px;
            line-height: 41px;
            float: left;
            margin-right: 10px;
            font: 400 24px/41px "\5FAE\8F6F\96C5\9ED1";
        }

        p {
            float: left;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            margin-top: 16px;

            span {
                color: #c40000;
                font-weight: bold;
            }
        }
    }

    .mian {

        border: 1px solid #e3e3e3;
        background: #fff;
        height: 472px;
        margin-bottom: 30px;
        a:hover{
            color: #c40000;
            text-decoration: #c40000 underline;
        }
        .rgfl732 {
            width: 732px;
            float: left;
            height: 432px;
            padding-top: 40px;
            .item {
                height: 60px;
                dt {
                    float: left;
                    height: 36px;
                    line-height: 36px;
                    padding-right: 20px;
                    font-size: 14px;
                    text-align: right;
                    width: 108px;
                    .xing {
                        vertical-align: middle;
                        padding-right: 8px;
                        color: #ff0000;
                    }
                }
                dd {
                    float: left;
                    width: 540px;
                    position: relative;
                }
                .bk-default {
                    width: 258px;
                    height: 18px;
                    line-height: 18px;
                    border: 1px solid #e2e2e2;
                    padding: 8px 0 8px 10px;
                    color: #999;
                }
                .ts-error { //手机号不填提示
                    color: #c40000;
                    height: 22px;
                    line-height: 22px;
                    padding-left: 20px;
                    position: relative;
                    font-family: "\5B8B\4F53";
                    .ico {
                        display: block;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        left: 0;
                        top: 4px;
                        background: url(../css/img/dl4.jpg) 0 0 no-repeat;
                        background-position: -86px -81px;
                    }
                }
                .beizhu {
                    position: absolute;
                    left: 280px;
                    top: 12px;
                    .fc4 {
                        color: #c40000;
                        font-weight: bold;
                    }
                    .cd-01 {
                        background-position: 0 -114px;
                    }
                    em {
                        display: inline-block;
                        width: 152px;
                        height: 14px;
                        overflow: hidden;
                        vertical-align: middle;
                        background: url(../css/img/dl4.jpg) 0 0 no-repeat;
                    }
                }
                .kd80 {
                    width: 80px;
                }
                .yzm {
                    position: absolute;
                    left: 105px;
                    top: -4px;
                }
                .btn-qryzm {
                    background: #f5f5f5;
                    padding: 11px 14px;
                    border: 1px solid #e3e3e3;
                    position: absolute;
                    left: 180px;
                    top: 0;
                    font-size: 12px;
                    color: #474747;
                }
                .btn-djs {
                    background: #f5f5f5;
                    padding: 11px 14px;
                    border: 1px solid #e3e3e3;
                    cursor: pointer;
                }
                .yck,.yck2 {
                    display: none;
                }
            }
            .ljzc {
                margin: 0 0 0 128px;
            }
            .yhxy {
                padding: 10px 0 20px;
                line-height: 17px;
                .checkbox {
                    margin-right: 5px;
                }
                label {
                    vertical-align: middle;
                }
            }
        }
    
        .btn-ljzc {
            width: 270px;
            border: none;
            height: 50px;
            margin-bottom: 10px;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
            background: #c40000;
            display: block;
            // behavior: url(PIE.htc);
            position: relative;
            z-index: 10;
        }
    }
    //底部信息
    .sec-footer {
        text-align: center;
        line-height: 24px;
        font-size: 12px;
        line-height: 1rem;
        a{
            color: #676767;
            &:hover{
                color: #c40000;
                text-decoration: #c40000 underline;
            }
        }
        .zhengshu a {
            line-height: 22px;
        }
        .copyright{
            color: #474747;
        }
    }
}
