.clearfix::after {
  content: 0;
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

#j1_shopcar {
  font-size: 12px;
  color: #333;
}

#j1_shopcar .content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#j1_shopcar .header .topbar {
  height: 30px;
}

#j1_shopcar .header .topbar span {
  margin: 5px 10px 0px 0px;
  line-height: 20px;
}

#j1_shopcar .header .topbar span a {
  color: #333;
}

#j1_shopcar .header .headerbottom {
  margin-top: 20px;
}

#j1_shopcar .header .headerbottom h1 {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 40px;
  text-indent: -999px;
  background: url(../css/img/logo.jpg) no-repeat;
}

#j1_shopcar .main .gou_car .gou_top {
  font-size: 14px;
}

#j1_shopcar .main .gou_car .gou_top h2 {
  font-size: 18px;
  line-height: 26px;
}

#j1_shopcar .main .gou_car .gou_top .j1car {
  color: #6d6d6d;
  height: 28px;
  margin-top: 10px;
}

#j1_shopcar .main .gou_car .gou_top .j1car .j1_ico {
  font-size: 18px;
  padding-left: 30px;
  background: url(https://img02.j1.com/images/images1308/ico/jyqf_ico1.png) 0 0 no-repeat;
}

#j1_shopcar .main .gou_car .gou_top .j1car .fr {
  margin-top: 5px;
  color: #333;
}

#j1_shopcar .main .gou_car .shopcar_con {
  border: 2px solid #eaeaea;
  width: 996px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list {
  margin: 10px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable {
  border-spacing: 0;
  border-collapse: collapse;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable tr th {
  text-align: center;
  font-weight: 700;
  line-height: 30px;
  background: #f6f6f6;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
  line-height: 30px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable tr td {
  padding: 10px 5px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
  line-height: 20px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .yhnews {
  border: 1px solid #e0e0e0;
  border-left: 0;
  border-right: 0;
  border-bottom-color: #f1f1f1;
  padding: 4px 10px;
  text-align: left;
  margin-top: 10px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .yhnews span {
  background: url(https://img02.j1.com/images/images1308/ico/mj_2.png) no-repeat center top;
  color: #fff;
  line-height: 19px;
  height: 26px;
  text-align: center;
  width: 46px;
  display: inline-block;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap {
  background: #fff4e8;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap a {
  color: #333;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li {
  float: left;
  padding: 10px 5px;
  text-align: center;
  font-size: 12px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li .td_img {
  width: 88px;
  height: 88px;
  border: #F0F0F0 1px solid;
  margin: 0 5px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li .td_img img {
  width: 88px;
  height: 88px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li .process-02 {
  width: 200px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li a {
  color: #333;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .shop_con_box ul li a.orange {
  color: #c40000;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .process-num {
  margin-top: 10px;
  width: 80px;
  float: left;
  height: 22px;
  padding-left: 5px;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .process-num .process-num_01 {
  WIDTH: 21px;
  FLOAT: left;
  CURSOR: pointer;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .process-num .process-num_02 {
  BORDER-LEFT: #6d6d6d 1px solid;
  WIDTH: 42px;
  FLOAT: left;
  HEIGHT: 20px;
  text-align: center;
  border: #6D6D6D 1px solid;
}

#j1_shopcar .main .gou_car .shopcar_con .shopcar_list .shoptable .shop_conwrap .process-num .shopcart-btn {
  border: 1px solid #CCC;
  width: 15px;
  height: 20px;
  line-height: 20px;
  margin: 0 2px 0px 2px;
  cursor: pointer;
  background: #f6f6f6;
  display: block;
}

#j1_shopcar .main .gou_car .settlement {
  width: 1000px;
  margin: 10px auto 30px;
  height: 47px;
  border: 1px solid #e2e2e2;
}

#j1_shopcar .main .gou_car .settlement a {
  color: #333;
}

#j1_shopcar .main .gou_car .settlement a:hover {
  color: #c40000;
}

#j1_shopcar .main .gou_car .settlement .choice {
  width: 215px;
  float: left;
  padding: 0px 10px 0;
  line-height: 47px;
}

#j1_shopcar .main .gou_car .settlement .choice .plr5 {
  padding: 0 20px 0 5px;
}

#j1_shopcar .main .gou_car .settlement .choice .fc9 {
  color: #999;
  padding-left: 15px;
}

#j1_shopcar .main .gou_car .settlement .choice .fc9:hover {
  color: #c40000;
}

#j1_shopcar .main .gou_car .settlement .fr .lh47 {
  line-height: 47px;
  font-size: 14px;
}

#j1_shopcar .main .gou_car .settlement .fr .lh47 strong {
  color: #c40000;
  font-size: 18px;
}

#j1_shopcar .main .gou_car .settlement .fr .lh47 .pr20 {
  padding-right: 20px;
}

#j1_shopcar .main .gou_car .settlement .btn-set {
  width: 126px;
  height: 47px;
  background: #c40000;
  border: none;
  text-align: center;
  line-height: 47px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
