.clearfix::after {
  content: 0;
  clear: both;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
}

#j1_xiangqing .content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#j1_xiangqing .server {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

#j1_xiangqing .server .online {
  position: relative;
}

#j1_xiangqing .server .online:hover .online_box {
  display: block;
}

#j1_xiangqing .server .online .online_a {
  box-sizing: border-box;
  display: block;
  width: 37px;
  height: 159px;
  margin-bottom: 5px;
  background: url(../css/img/syicon5.jpg) no-repeat;
}

#j1_xiangqing .server .online .online_box {
  box-sizing: border-box;
  display: none;
  background: #fff;
  width: 110px;
  border: 1px solid #eaeaea;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: -112px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#j1_xiangqing .server .online .online_box img {
  margin-bottom: 10px;
}

#j1_xiangqing .server .online .online_box i {
  height: 1px;
  display: block;
  background: #e6e6e6;
}

#j1_xiangqing .server .online .online_box p {
  font-size: 10px;
  line-height: 22px;
  color: #676767;
  text-align: center;
}

#j1_xiangqing .server .online .online_box h3 {
  font-size: 10px;
  color: #333333;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
}

#j1_xiangqing .server .online .online_box h4 {
  font-size: 10px;
  line-height: 22px;
  color: #919191;
  text-align: center;
}

#j1_xiangqing .server .online .online_box::after {
  position: absolute;
  right: -11px;
  bottom: 10px;
  content: '';
  display: block;
  border: 5px solid transparent;
  border-left-color: #F7F7F7;
  z-index: 0;
}

#j1_xiangqing .server .wx {
  position: relative;
}

#j1_xiangqing .server .wx:hover .wx_box {
  display: block;
}

#j1_xiangqing .server .wx .wx_a {
  width: 37px;
  height: 36px;
  display: block;
  background: url(../css/img/syicon1.jpg) no-repeat;
}

#j1_xiangqing .server .wx .wx_box {
  box-sizing: border-box;
  display: none;
  background: #fff;
  border: 1px solid #eaeaea;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: -158px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#j1_xiangqing .server .wx .wx_box::after {
  position: absolute;
  right: -11px;
  bottom: 10px;
  content: '';
  display: block;
  border: 5px solid transparent;
  border-left-color: #F7F7F7;
  z-index: 0;
}

#j1_xiangqing .server .wx .wx_box img {
  width: 116px;
  height: 139px;
}

#j1_xiangqing .topback {
  position: fixed;
  width: 37px;
  height: 0;
  background: url(../css/img/slidelf.png) no-repeat -51px -147px;
  right: 0;
  bottom: 50px;
  transition: height .5s;
}

#j1_xiangqing .header {
  height: 121px;
}

#j1_xiangqing .header .headertop {
  padding-top: 10px;
}

#j1_xiangqing .header .headertop .shoucang {
  float: left;
}

#j1_xiangqing .header .headertop .shoucang a {
  color: #676767;
  font-size: 10px;
  line-height: 10px;
  vertical-align: top;
}

#j1_xiangqing .header .headertop .shoucang a:hover {
  color: #c40000;
  text-decoration-line: underline;
  text-decoration-color: #c40000;
}

#j1_xiangqing .header .headertop .shoucang i {
  display: inline-block;
  width: 2px;
  height: 12px;
  background: #e2e7ee;
  margin: 0 7px;
  vertical-align: top;
}

#j1_xiangqing .header .headertop .huanying {
  float: right;
}

#j1_xiangqing .header .headertop .huanying ul {
  display: flex;
}

#j1_xiangqing .header .headertop .huanying ul li {
  color: #676767;
  font-size: 10px;
  line-height: 10px;
  margin: 0 8px;
}

#j1_xiangqing .header .headertop .huanying ul li a {
  color: #c40000;
}

#j1_xiangqing .header .headertop .huanying ul li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #c40000;
  color: #c40000 !important;
}

#j1_xiangqing .header .headertop .huanying ul li mark {
  font-weight: 700;
  background: none;
}

#j1_xiangqing .header .headerbottom {
  margin-top: 20px;
}

#j1_xiangqing .header .headerbottom h1 {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 40px;
  text-indent: -999px;
  background: url(../css/img/logo.jpg) no-repeat;
}

#j1_xiangqing .header .headerbottom .sousuo {
  display: inline-block;
  vertical-align: top;
  margin-left: 175px;
}

#j1_xiangqing .header .headerbottom .sousuo .input_text {
  box-sizing: border-box;
  float: left;
  width: 354px;
  height: 32px;
  border: 2px solid #c40000;
  padding: 1px 4px 3px 4px;
}

#j1_xiangqing .header .headerbottom .sousuo .input_btn {
  float: right;
  width: 60px;
  height: 32px;
  background: url(../css/img/slidelf.png) no-repeat 0 -240px;
}

#j1_xiangqing .header .headerbottom .sousuo .guanjianzi {
  clear: both;
  color: #909090;
  padding: 3px 0 0 0;
  line-height: 24px;
}

#j1_xiangqing .header .headerbottom .sousuo .guanjianzi a {
  box-sizing: border-box;
  color: #333;
  display: inline-block;
  margin-right: 5px;
  font-size: 12px;
}

#j1_xiangqing .header .headerbottom .sousuo .guanjianzi a:hover {
  color: #c40000;
  text-decoration: #c40000 underline;
}

#j1_xiangqing .header .headerbottom .mine {
  margin-left: 33px;
  display: inline-block;
  vertical-align: top;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li {
  position: relative;
  float: left;
  width: 116px;
  height: 32px;
  border: 1px solid #efefef;
  margin-left: 10px;
  padding-left: 29px;
  font-size: 10px;
  line-height: 30px;
  box-sizing: border-box;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li a {
  color: #676767;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #c40000;
  color: #c40000;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(1) a {
  text-decoration-line: underline;
  text-decoration-color: #c40000;
  color: #c40000;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(1) .triangle {
  position: absolute;
  top: 14px;
  right: 13px;
  display: block;
  border: 4px solid transparent;
  border-top-color: #ccc;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(1) .mine_menu {
  border: 1px solid #efefef;
  position: absolute;
  left: 0;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(1) .mine_menu li {
  cursor: pointer;
  border: none;
  background: #fff;
  width: 114px;
  padding-left: 10px;
  color: #676767;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(1) .mine_menu li:hover {
  background: #f5f5f5;
  text-decoration-line: underline;
  text-decoration-color: #c40000;
  color: #c40000;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(2), #j1_xiangqing .header .headerbottom .mine .mine_ul li:nth-child(3) {
  background: #f7f7f7;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(2) .triangle, #j1_xiangqing .header .headerbottom .mine .mine_ul li:nth-child(3) .triangle {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  border: 4px solid transparent;
  border-left-color: #ccc;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(2) .mine_ic, #j1_xiangqing .header .headerbottom .mine .mine_ul li:nth-child(3) .mine_ic {
  position: absolute;
  left: 17px;
  top: -13px;
  display: block;
  width: 19px;
  height: 19px;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(2) .mine_ic sup, #j1_xiangqing .header .headerbottom .mine .mine_ul li:nth-child(3) .mine_ic sup {
  display: block;
  width: 19px;
  height: 16px;
  background: #d90000;
  color: #fff;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:nth-child(2) .mine_ic sub, #j1_xiangqing .header .headerbottom .mine .mine_ul li:nth-child(3) .mine_ic sub {
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: url(../css/img/slidelf.png) -86px -229px no-repeat;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .minexx {
  display: none;
  z-index: 555;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:hover {
  background: #fff;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_ul_li:hover .minexx {
  display: block;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu {
  position: absolute;
  left: -130px;
  width: 372px;
  height: 214px;
  border: 1px solid #efefef;
  background: #fff;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li {
  padding-bottom: 8px;
  border-bottom: 1px dotted #ccc;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li:hover {
  background: #f5f5f5;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_img {
  margin-top: 8px;
  display: inline-block;
  vertical-align: top;
  width: 52px;
  height: 52px;
  border: 1px solid #efefef;
  margin-left: 8px;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_img img {
  width: 100%;
  height: 100%;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_txt {
  vertical-align: top;
  display: inline-block;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_txt a {
  margin-left: 0 8px;
  line-height: 10px !important;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_txt small {
  font-size: 10px;
  color: #c40000;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_quantity {
  display: inline-block;
  vertical-align: top;
  margin-left: 45px;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_quantity .del {
  display: block;
  text-align: center;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_quantity input:nth-child(1), #j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_quantity :nth-child(3) {
  width: 13px;
  height: 13px;
  border: 1px solid #e5e5e5;
  background: #fff;
  line-height: 13px;
  text-align: center;
  color: #888888;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu li .mine_gouwu_quantity input:nth-child(2) {
  width: 29px;
  height: 20px;
  border: #a9a9a9 solid 1px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan {
  height: 74px;
  background: #f5f5f5;
  border-bottom: none;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7px 10px;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 span {
  display: block;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 span i {
  display: inline-block;
  width: 16px;
  color: #c40000;
  text-align: center;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 span strong {
  font-size: 14px;
  color: #c40000;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 .jiesuan_btn {
  position: relative;
  display: block;
  width: 110px;
  height: 30px;
  background: #c40000;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 .jiesuan_btn::after {
  position: absolute;
  top: 11px;
  right: 23px;
  content: '';
  display: block;
  border: 5px solid transparent;
  border-left-color: #fff;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_gouwu .jiesuan h3 .jiesuan_btn:hover {
  background: rgba(196, 0, 0, 0.8);
  text-decoration: none;
}

#j1_xiangqing .header .headerbottom .mine .mine_ul .mine_yuyue {
  display: none;
  position: absolute;
  left: -256px;
  width: 372px;
  height: 214px;
  padding: 8px;
  border: 1px solid #efefef;
  background: #fff;
}

#j1_xiangqing .header .headerbottom .mine .mine_icon1 {
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  width: 17px;
  height: 17px;
  background: url(../css/img/slidelf.png) 0 -280px no-repeat;
}

#j1_xiangqing .header .headerbottom .mine .mine_icon2, #j1_xiangqing .header .headerbottom .mine .mine_icon3 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  width: 17px;
  height: 17px;
  background: url(../css/img/slidelf.png) -72px -124px no-repeat;
}

#j1_xiangqing .main .navred {
  height: 40px;
  background: #c40000;
}

#j1_xiangqing .main .nav {
  font-size: 0;
}

#j1_xiangqing .main .nav li {
  position: relative;
  float: left;
}

#j1_xiangqing .main .nav li a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
}

#j1_xiangqing .main .nav li .all {
  width: 195px;
  background: #b00000;
  padding-left: 10px;
}

#j1_xiangqing .main .nav li .nav_a {
  padding: 0 15px;
}

#j1_xiangqing .main .nav li .nav_a:hover {
  background: #b00000;
}

#j1_xiangqing .main .nav li .zigezheng:hover, #j1_xiangqing .main .nav li .all:hover {
  text-decoration: underline;
}

#j1_xiangqing .main .nav li .zk_ico {
  position: absolute;
  top: -4px;
  right: 2px;
  display: inline-block;
  width: 27px;
  height: 15px;
  background: url(../css/img/slidelf.png) no-repeat -40px -220px;
}

#j1_xiangqing .main .nav li .cz_ico {
  position: absolute;
  top: -4px;
  right: 2px;
  display: inline-block;
  width: 27px;
  height: 15px;
  background: url(../css/img/slidelf.png) no-repeat 0 -220px;
}

#j1_xiangqing .main .nav li:last-child {
  float: right;
}

#j1_xiangqing .main .sidenav {
  background: #fff;
  display: none;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 205px;
  height: 424px;
  border-top: none;
  box-sizing: border-box;
}

#j1_xiangqing .main .sidenav:hover .sort_div {
  display: block;
}

#j1_xiangqing .main .sidenav .sort_ul {
  position: relative;
  z-index: 556;
  height: 424px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

#j1_xiangqing .main .sidenav .sort_ul li {
  border: 2px solid #cc3300;
  border-top: none;
  border-bottom: none;
  position: relative;
  width: 181px;
  padding: 3px 0 3px 20px;
  font-size: 14px;
  line-height: 26px;
  flex: 1;
}

#j1_xiangqing .main .sidenav .sort_ul li:hover {
  background: #f6f6f6;
  border-right: none;
}

#j1_xiangqing .main .sidenav .sort_ul li::before {
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  position: absolute;
  top: 15px;
  left: 10px;
  background: #b52023;
}

#j1_xiangqing .main .sidenav .sort_ul li::after {
  content: '';
  width: 6px;
  height: 9px;
  display: block;
  position: absolute;
  top: 12px;
  right: 6px;
  background: url(img/slidelf.png) -59px -346px no-repeat;
}

#j1_xiangqing .main .sidenav .sort_ul li a {
  color: #333;
  cursor: pointer;
}

#j1_xiangqing .main .sidenav .sort_ul li a:hover {
  text-decoration: #c50105 underline;
  color: #c50105;
}

#j1_xiangqing .main .sidenav .sort_ul li:last-child {
  height: 34px;
  border-bottom: 2px solid #cc3300;
}

#j1_xiangqing .main .sidenav .sort_div {
  display: none;
  position: absolute;
  top: 0;
  right: -800px;
  width: 798px;
  min-height: 424px;
  border: 2px solid #c50303;
  background: #fff;
  border-top: none;
  z-index: 555;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list {
  float: left;
  padding: 0 21px;
  width: 540px;
  min-height: 422px;
  position: relative;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list .s_l {
  font-size: 10px;
  line-height: 14px;
  color: #272d21;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list .s_l dt {
  font-weight: 700;
  padding-right: 7px;
  margin: 8px 0;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list .s_l .dd_box {
  margin-left: 55px;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list .s_l dd {
  cursor: pointer;
  float: left;
  padding: 0 7px;
  border-left: 1px solid #cacaca;
  margin: 8px 0;
}

#j1_xiangqing .main .sidenav .sort_div .sort_list .s_l dd:hover {
  text-decoration: #c50105 underline;
  color: #c50105;
}

#j1_xiangqing .main .sidenav .sort_div .sort_remen {
  box-sizing: border-box;
  float: left;
  padding: 7px 15px;
  width: calc(100% - 582px);
  min-height: 422px;
  border-left: 1px solid #dddddd;
}

#j1_xiangqing .main .sidenav .sort_div .sort_remen .s_r {
  font-size: 10px;
  color: #272d21;
}

#j1_xiangqing .main .sidenav .sort_div .sort_remen .s_r dt {
  font-weight: 700;
}

#j1_xiangqing .main .sidenav .sort_div .sort_remen .s_r dd {
  float: left;
  line-height: 24px;
  width: 48px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

#j1_xiangqing .main .sidenav .sort_div .sort_remen .s_r dd:hover {
  text-decoration: #c50105 underline;
  color: #c50105;
}

#j1_xiangqing .main .detailnav {
  padding: 8px 0;
}

#j1_xiangqing .main .detailnav span {
  font-size: 12px;
  color: #333;
}

#j1_xiangqing .main .detailnav span a {
  color: #333;
}

#j1_xiangqing .main .productarea {
  margin-bottom: 10px;
  /* .bottom .prev{
                position: absolute;
                left: 0px;
                top: 0;
            }
            .bottom .next{
                position: absolute;
                right:0 ;
                top: 0;
            } */
}

#j1_xiangqing .main .productarea .wrap {
  width: 338px;
  height: 492px;
}

#j1_xiangqing .main .productarea #wrap {
  /* margin-bottom: 50px; */
  position: relative;
  float: left;
  margin-right: 20px;
}

#j1_xiangqing .main .productarea .main {
  position: relative;
  overflow: hidden;
  width: 338px;
  height: 338px;
  border: 1px solid #dadada;
}

#j1_xiangqing .main .productarea .main img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#j1_xiangqing .main .productarea .bottom {
  width: 338px;
  height: 72px;
  position: relative;
  margin: 5px 0;
}

#j1_xiangqing .main .productarea .bottom p {
  width: 18px;
  height: 60px;
  text-align: center;
  line-height: 72px;
  background: #777;
  /* font-size: 24px; */
  cursor: pointer;
  float: left;
  background: url(../img/xiangqingimg/mag_r.jpg);
}

#j1_xiangqing .main .productarea .bottom .prev {
  margin-right: 5px;
  background: #ccc;
  width: 18px;
  height: 60px;
  background: url(../img/xiangqingimg/mag_l.jpg);
}

#j1_xiangqing .main .productarea .box {
  width: 292px;
  height: 72px;
  overflow: hidden;
  position: relative;
  /* left: 40px;
                top: 0; */
  float: left;
  margin-right: 5px;
}

#j1_xiangqing .main .productarea .smaller {
  /* position: relative; */
  overflow: hidden;
  width: 400px;
  height: 72px;
  /* margin-top: 10px; */
  transition: all 1s;
  position: absolute;
  left: 0;
  top: 0;
}

#j1_xiangqing .main .productarea .smaller li {
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 7px 0 8px;
  cursor: pointer;
}

#j1_xiangqing .main .productarea .smaller li img {
  width: 98%;
  height: 98%;
  border: #e2e2e2 1px solid;
}

#j1_xiangqing .main .productarea .smaller li:first-child {
  margin-left: 0;
}

#j1_xiangqing .main .productarea .smaller .current {
  border-color: #ff6a00;
}

#j1_xiangqing .main .productarea .biger {
  position: absolute;
  overflow: hidden;
  display: none;
  left: 350px;
  width: 300px;
  height: 300px;
  z-index: 222;
}

#j1_xiangqing .main .productarea .mask {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background: url("../images/mask-bg.png") repeat;
  cursor: crosshair;
}

#j1_xiangqing .main .productarea .biger img {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
}

#j1_xiangqing .main .productarea .magnifier {
  margin-right: 20px;
  float: left;
  margin-top: 0;
  margin-left: 0;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-container {
  cursor: crosshair;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-assembly {
  z-index: 33;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-line li {
  width: auto;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-line li .small-img {
  width: 60px;
  height: 60px;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-line li .small-img:hover {
  border: 1px solid #999;
}

#j1_xiangqing .main .productarea .magnifier .magnifier-btn .magnifier-btn-left {
  width: 18px;
  height: 60px;
  background: url(../img/xiangqingimg/mag_l.jpg);
}

#j1_xiangqing .main .productarea .magnifier .magnifier-btn .magnifier-btn-right {
  width: 18px;
  height: 60px;
  background: url(../img/xiangqingimg/mag_r.jpg);
}

#j1_xiangqing .main .productarea .productarea_right {
  float: left;
  width: 840px;
  font-size: 12px;
  color: #333;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_top {
  padding-bottom: 5px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_top h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_top .pro_style {
  color: #c40000;
  line-height: 24px;
  overflow: hidden;
  font-size: 16px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 {
  padding-top: 10px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_price {
  line-height: 22px;
  padding: 6px 0;
  background: #f7f7f7;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_price dt {
  text-align: right;
  width: 72px;
  color: #333;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_price dd {
  width: 524px;
  font-size: 22px;
  font-weight: 700;
  color: #c40000;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_price dd sup {
  background: #c40000;
  color: #fff;
  padding: 2px 4px;
  margin-right: 4px;
  font-size: 12px;
  line-height: 16px;
  vertical-align: baseline;
  font-weight: normal;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_price dd sub {
  font-size: 12px;
  line-height: 22px;
  color: #c40000;
  font-weight: normal;
  vertical-align: bottom;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_ph {
  padding-left: 72px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 .pro_ph sub {
  font-size: 12px;
  line-height: 22px;
  color: #c40000;
  font-weight: normal;
  vertical-align: bottom;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 dl {
  padding: 6px 0;
  color: #333;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 dl dt {
  width: 72px;
  text-align: right;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .pro_con1 dl dd {
  width: 524px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd {
  border-top: 1px dotted #ddd;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap {
  padding: 10px 0 0 0;
  font: 400 12px/18px Arial,Verdana,"\5B8B\4F53";
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys dt {
  float: left;
  line-height: 32px;
  width: 72px;
  text-align: right;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys dd {
  float: left;
  width: 524px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys li {
  float: left;
  margin: 0 4px 4px 0;
  line-height: 30px;
  position: relative;
  vertical-align: middle;
  border: 2px solid #fff;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys li:hover {
  border: 2px solid #c40000;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys li a {
  border: 1px solid #B8B7BD;
  color: #333;
  height: 30px;
  line-height: 28px;
  padding: 0 2px;
  float: left;
  white-space: nowrap;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .xzys li a:hover {
  border: 1px solid #fff;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .pt5 {
  padding-top: 14px;
  text-align: right;
  width: 72px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL .count {
  border: 1px solid #c8c7cc;
  color: #333;
  display: block;
  font-family: Tahoma;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  text-align: center;
  width: 46px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL a {
  background: url(../img/xiangqingimg/car_btn.jpg) 0 0 no-repeat;
  display: block;
  width: 25px;
  height: 24px;
  position: absolute;
  top: 0;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL dd {
  position: relative;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL .c02 {
  background-position: -26px -25px;
  top: 0;
  left: 47px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL .c01 {
  background-position: -26px 0;
  top: 23px;
  left: 47px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_con .btddd .newbuywrap .buyNumDL .c03 {
  left: 90px;
  background-position: -52px 0;
  width: 157px;
  height: 47px;
  overflow: hidden;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj {
  font: 12px "\5B8B\4F53";
  color: #333;
  outline: none;
  font-family: microsoft yahei;
  float: right;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj {
  font: 12px "\5B8B\4F53";
  color: #333;
  outline: none;
  width: 218px;
  border: 1px solid #e5e5e5;
  background: #fff;
  margin: 10px 0;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj h5 {
  height: 26px;
  padding-left: 10px;
  font: 400 14px/26px "\5FAE\8F6F\96C5\9ED1";
  border-bottom: 1px dotted #e5e5e5;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .rate {
  padding: 10px 0 5px 15px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .rate em {
  margin-right: 40px;
  line-height: 34px;
  vertical-align: top;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .rate strong {
  font: 400 46px/34px "arial";
  color: #c40000;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .rate strong span {
  font-size: 24px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent {
  padding-left: 15px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent dl {
  overflow: hidden;
  padding: 3px 0;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent dl dt {
  float: left;
  width: 70px;
  text-align: left;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent dl dt span {
  color: #888;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent dd {
  background: none repeat scroll 0 0 #EFEFEF;
  float: left;
  height: 8px;
  margin-top: 4px;
  overflow: hidden;
  width: 120px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .percent dd div {
  overflow: hidden;
  height: 3px;
  width: 0;
  background-color: #c40000;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .leiji_pj {
  padding: 8px 0 8px 15px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .leiji_pj li {
  line-height: 24px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .leiji_pj li.mr10 {
  margin-right: 10px;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .leiji_pj .pl {
  color: #06c;
}

#j1_xiangqing .main .productarea .productarea_right .pro_r_bottom .pro_pj .ware_pj .leiji_pj .xl {
  color: #c40000;
  cursor: default;
  text-decoration: none;
}
